services:
  database:
    image: "postgres:16.1-alpine3.18"
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"
  app:
    image: "node:22-alpine"
    ports:
      - "3000:3000"
    volumes:
      - ../:/app
      - /app/node_modules
    working_dir: /app
    command: sh -c "npm install -g npm@latest && npm install && npm run only:dev"
    stdin_open: true
    tty: true
    env_file:
      - ../.env.development
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
